<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RFUpdater.Properties.Settings>
            <setting name="UpdaterLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ThemeNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Installing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFolderPath" serializeAs="String">
                <value>D:\Games\</value>
            </setting>
            <setting name="IsBetaOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAuthorizited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>TSF</value>
            </setting>
            <setting name="AppDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedGamesIsReal" serializeAs="String">
                <value>False</value>
            </setting>
        </RFUpdater.Properties.Settings>
    </userSettings>
</configuration>